/*header{
    height: 150px;
    background-color: #E5E7E9;
    background-image: radial-gradient(rgb(215, 213, 213), rgb(58, 58, 57), rgb(96, 96, 96));
    padding: 10px;
    text-align: right;
}*/
header{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3,40px);
    background-color: #E5E7E9;
    background-image: radial-gradient(rgb(215, 213, 213), rgb(58, 58, 57), rgb(96, 96, 96));
    padding: 10px;
}
nav{
    height: 40px;
    background-color: dimgray;
}
nav ul{
    margin-left: 10px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: beige;
    display: block;
    padding: 5px;
    margin-top: 9px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
    color: dimgray;
    background-color: beige;
}

/* clases generales de la pagina */
.instagram{
    width: auto;
    display: inline-block;
}